.cover {
  position: relative;
  width: 100%;
  margin: auto;
  /* so that children can use z-index and absolute positioning */
}

.cover__group {
  position: relative;
  z-index: 5;
  width: 100%;
  background-image: url("../images/__background.png");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image */
  background-size: cover;
  display: block; /*needed to center it using margin:auto */
  margin: auto;
  /*min-height:740px; */
  height: 740px;
}

.cover__group::before {
  content: "";
  background: #2a2c2f;
  opacity: 0.3;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.cover__group:hover:before {
  content: "";
  background: #2a2c2f;
  opacity: 0.8;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.cover__overlay {
  /*background: #2a2c2f; */
  /* background: blue; */
  /*opacity: 0.8; */ /*0 is completely transparent, 1 is not transparent at all*/
}

.cover__overlay:hover {
  /*opacity: 0.3;
  background: red;*/
}

.cover__image {
  display: block; /*needed to center it using margin:auto */
  margin: auto;
  position: relative;
  z-index: 0;
}

.cover__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* identical to box height, or 106% */
  text-align: center;
  color: #fffdfd;
  padding: 243px 0px 0px 0px; /* top right bottom left */
  margin: 0px 0px 32px 0px; /* top right bottom left */
}

.cover__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
  color: #ffffff;
  max-width: 260px;
  margin: 0 auto;
}

.cover__button {
  background: #0278fe;
  border: none; /*remove default shadow border style */
  border-radius: 4px;
  display: block; /*needed to center it using margin:auto */
  margin: 32px auto 0px auto; /* top right bottom left */
  width: 137px;
  height: 48px;
  text-decoration: none; /*remove the underline. needs to be on button <a> tag and not the <p> tag*/

  /*correct size of button and padding of text re:figma*/
  /*
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 20px;
  */
}

.cover__button:hover {
  background: #0063d2;
}

.cover__button-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #ffffff;
  margin: 0; /*reset */
  padding: 13px 20px 13px 20px; /*reset */ /* top right bottom left */

  /*correct size of button and padding of text re:figma*/
  /*
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  */
}

/*styles for 768px screen */
@media screen and (max-width: 1024px) {
  .cover__group {
    min-height: 746px;
  }
  .cover__title {
    padding: 246px 0px 0px 0px; /* top right bottom left */
  }
}

/*styles for 320px screen*/
@media screen and (max-width: 544px) {
  .cover__group {
    min-height: 254px; /*override previous */
    width: 100%;
    height: auto;
    margin: 0px;
  }
  .cover__title {
    padding: 46px 0px 0px 0px; /* top right bottom left */
    font-size: 32px;
    line-height: 35px;
    margin: 0px 0px 16px 0px; /* top right bottom left */
  }

  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }

  .cover__button {
    margin: 16px auto 0px auto; /* top right bottom left */
  }
}
