.footer {
}

.footer__text {
  font-family: "Inter", "Arial", sans-serif; /*fallback fonts */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-align: center;
  color: #ffffff;
  padding: 0px; /*reset */
  margin: 92px auto 24px auto; /* top right bottom left */
}

/*styles for 768px screen*/
@media screen and (max-width: 1024px) {
  .footer__text {
    margin: 88px auto 24px auto; /* top right bottom left */
  }
}

/*styles for 320px screen*/
@media screen and (max-width: 610px) {
  .footer__text {
    margin: 0px; /* top right bottom left */
  }
  .footer {
    margin: 64px auto 24px auto; /* top right bottom left */
  }
}
