.intro {
  max-width: 785px;
  padding-left: 148px; /* this affects the horizontal position of everything inside */
}

.intro__title {
  font-family: "Inter", "Arial", sans-serif; /*fallback fonts */
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  max-width: 785px;
  margin: 92px 0px 40px 0px; /*94 top 40 bottom */ /* top right bottom left */
  padding: 0px; /*reset */
}

.intro__quote {
  font-family: "Inter", "Arial", sans-serif; /*fallback fonts */
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  max-width: 690px;
  margin: 0px 0px 10px 0px; /*reset */ /* top right bottom left */
  padding: 0px; /*reset */
  /* or 142% */
  /*margin:0 auto; not centered*/
}

.intro__name {
  font-family: "Inter", "Arial", sans-serif; /*fallback fonts */
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  max-width: 690px;
  margin: 0px 0px 32px 0px; /*reset */ /* top right bottom left */
  padding: 0px; /*reset */
  /* identical to box height, or 142% */
  text-align: right; /*goes on right side */
}

.intro__text {
  font-family: "Inter", "Arial", sans-serif; /*fallback fonts */
  font-style: normal;
  max-width: 720px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  /* or 26px */
  margin: 0px; /*reset */
  padding: 0px; /*reset */
}

/*styles for 768px screen*/
@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 24px;
    max-width: 720px;
  }
  .intro__title {
    margin: 88px 0px 40px 0px; /*88 top changed */ /* top right bottom left */
  }
  .intro__quote {
    max-width: 720px;
  }

  .intro__name {
    max-width: 720px;
  }
}

/*styles for 320px screen*/
@media screen and (max-width: 610px) {
  .intro {
    padding-left: 16px;
    max-width: 288px;
  }
  .intro__title {
    margin: 64px 0px 40px 0px; /*64 top changed */ /* top right bottom left */
    font-size: 32px;
    line-height: 35px;
  }
  .intro__quote {
    line-height: 30px;
  }
}
