.lead {

}

.lead__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  /* or 104% */
  text-align: center; 

  margin:0; /*get rid of default margins */
}

.lead__subtitle {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
/* or 120% */
text-align: center;
margin: 32px auto 64px auto;/* top right bottom left */
max-width:720px;
/*possibly change max width at different resolutions for responsive design */
/*margin:0; get rid of default margins */
}

.lead__image{
  max-width:984px;
  /*margin:auto;*/
  /*need to center it and margin auto is not working */
  /*also need to add borders/outlines */
}