.photo-grid {
  margin: 118px auto 92px auto; /* top right bottom left */
  max-width: 1184px;
  padding-left: 24px;
  padding-right: 24px;
  /*max-width: 100%; */
}
.photo-grid__list {
  /*remove list styles */
  list-style: none;
  padding: 0px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  display: grid;
  grid-gap: 16px;
}

.photo-grid__list-item {
}

.photo-grid__item {
  width: 100%; /*100% instead of 284px */ /*bigger-original img size- at smaller screen size */
}

/*styles for 768px screen */
@media screen and (max-width: 1024px) {
  .photo-grid {
    margin: 90px auto 88px auto; /* top right bottom left */ /*manually set left margin 24px*/
    max-width: 720px; /*max width needed to be smaller than screen size before margin auto did anything */
    /* previous columns rule works for all screen sizes so no need for grid-template-columns: 1fr 1fr; */
    grid-template-rows: auto;
    padding: 0px; /*make photos correct size */
  }
  .photo-grid__item {
    width: 100%; /*bigger-original img size- at smaller screen size */
  }
  /*for grid you can give preferred width and max width (better than flexbox)*/
}

/*styles for 320px screen*/
@media screen and (max-width: 610px) {
  .photo-grid {
    margin: 90px auto 62px auto; /* top right bottom left */ /*margin auto instead of 16px to prevent scrollbar at small screen size*/
    padding: 0px;
    max-width: 288px; /*max width needed to be smaller than screen size before margin auto did anything */
    grid-template-columns: 1fr;
  }
  .photo-grid__item {
    max-width: 288px;
    height: auto;
  }
}
