.place {
  display: grid;
  grid-template-areas:
    "header artist"
    "image text"
    "button text"; /*text takes up 2 cells*/
  /*set these values on the objects with grid-area:name */
  margin: 0px auto 80px auto; /* top right bottom left */
  max-width: 984px;
  grid-row-gap: 48px; /* gap between title and pic. also gap btwn pic and button. */
  grid-column-gap: 40px; /*gap between paragraph and image */
}

.place__header {
  font-family: "Inter", "Arial", sans-serif; /*fallback fonts */
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  grid-area: header; /*NO QUOTES */
  max-width: 460px;
  margin: 0;
}

.place__image {
  grid-area: image; /*NO QUOTES */
}

.place__artist {
  grid-area: artist; /*NO QUOTES */
  /* not margin-top: 107px; because although that works for the first one, it messes up the rest */
  align-self: end; /*instead of setting margin-top */
  padding: 0px;
}

.place__artist-label {
  font-family: "Inter", "Arial", sans-serif; /*fallback fonts */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 0px 0px 8px 0px; /* top right bottom left */
  /*bottom margin on this instead of top one on next so that it only affects 1 item */
}

.place__artist-text {
  font-family: "Inter", "Arial", sans-serif; /*fallback fonts */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  margin: 0px; /*reset */
}

.place__text {
  font-family: "Inter", "Arial", sans-serif; /*fallback fonts */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
  grid-area: text; /*NO QUOTES */
}

.place__paragraph {
  padding-top: 0px;
  margin-top: 0px;
}

.place__button {
  padding: 0px; /*remove padding so button is not too big. Padding was good when it was a <button> but not an <a> */
  background: #0278fe;
  border: none; /*remove default shadow border style */
  border-radius: 4px;
  grid-area: button; /*NO QUOTES */
  width: 248px;
  height: 48px;
  text-decoration: none; /*remove the underline. needs to be on button <a> tag and not the <p> tag*/
}

.place__button:hover {
  background: #0063d2;
}

.place__button-text {
  font-family: "Inter", "Arial", sans-serif; /*fallback fonts */
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #ffffff;
  margin: 0px;
  padding: 13px 20px 13px 20px; /*reset */ /* top right bottom left */
}

/*styles for 768px screen */
@media screen and (max-width: 1024px) {
  .place {
    grid-column-gap: 28px; /*gap between paragraph and image */
    margin: 0px auto 72px auto; /* top right bottom left */
    padding-left: 24px;
    padding-right: 24px;
    grid-template-columns: 340px 1fr;
    /*340px sets first one to 340px exactly. 1fr sets second one to fill the space. */
    /* without 340px 1fr; they would default to auto (same size)*/
    grid-template-rows: auto auto 1fr;
    /* auto 1fr is like order of operations. auto is by default the size of the object. 1fr will grow to fill the space. */
    /*auto auto is same as 1fr 1fr, difference only matters when you use both together */
  }

  .place__image {
    max-width: 340px;
    height: auto;
    justify-self: end; /*makes sure there is space on the left and it is close to the text */
    /*smaller size 340px*/
  }

  .place__header {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
    align-self: end; /* align with artist text */
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
    max-width: 352px;
  }
}

/*styles for 320px screen*/
@media screen and (max-width: 610px) {
  .place {
    display: grid;
    grid-template-areas:
      "header"
      "artist"
      "image"
      "text"
      "button";
    margin: 0px auto 50px auto; /* top right bottom left */
    padding: 0px;

    grid-row-gap: 30px; /* gap between title and pic. also gap btwn pic and button. */
    grid-template-columns: 1fr; /* do not need max-width because we have 1fr */
    max-width: 100%;
  }
  .place__image {
    justify-self: auto;
    width: 100%;
    max-width: 320px;
    height: auto;
    margin: 0px;
    padding: 0px;
  }
  .place__header {
    margin-left: 16px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }

  .place__artist {
    margin-left: 16px;
    max-width: 288px; /*need max-width or I get a scrollbar */
  }

  .place__text {
    margin-left: 16px;
    max-width: 288px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    align-self: stretch;
    /*should be 30px between text and button */
  }
  .place__button {
    margin-left: 10px;
    max-width: 288px;
    padding: 0px; /* fix scroll issue on 320+ px resolution */
  }
  .place__button-text {
    /*smaller sizes than figma to remove scrollbar */
    padding: 10px 40px 10px 40px; /* top right bottom left */
    font-size: 14px;
  }
}
